@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Yekan Bakh";
  src: local("Yekan Bakh"),
    url("/fonts/Yekan/FaNum/Yekan Bakh FaNum 01 Hairline.ttf")
      format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Yekan Bakh";
  src: local("Yekan Bakh"),
    url("/fonts/Yekan/FaNum/Yekan Bakh FaNum 02 Thin.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Yekan Bakh";
  src: local("Yekan Bakh"),
    url("/fonts/Yekan/FaNum/Yekan Bakh FaNum 03 Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Yekan Bakh";
  src: local("Yekan Bakh"),
    url("/fonts/Yekan/FaNum/Yekan Bakh FaNum 04 Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Yekan Bakh";
  src: local("Yekan Bakh"),
    url("/fonts/Yekan/FaNum/Yekan Bakh FaNum 05 Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Yekan Bakh";
  src: local("Yekan Bakh"),
    url("/fonts/Yekan/FaNum/Yekan Bakh FaNum 06 Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Yekan Bakh";
  src: local("Yekan Bakh"),
    url("/fonts/Yekan/FaNum/Yekan Bakh FaNum 07 Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Yekan Bakh";
  src: local("Yekan Bakh"),
    url("/fonts/Yekan/FaNum/Yekan Bakh FaNum 08 Fat.ttf") format("truetype");
  font-weight: 1000;
  font-style: normal;
}

@font-face {
  font-family: "Morabba";
  src: url("/fonts/morabba/morabba/Morabba-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

* {
  font-family: "Yekan Bakh";
}

.clip-ribbon {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 85%, 0 100%);
}

.custom-coverflow-slider .swiper-slide {
  opacity: 0.3;
  transform: scale(0.9);
  transition: all 0.3s ease;
}
.custom-coverflow-slider .swiper-slide-prev,
.custom-coverflow-slider .swiper-slide-next {
  opacity: 0.6;
  transform: scale(0.95);
}
.custom-coverflow-slider .swiper-slide-active {
  opacity: 1;
  transform: scale(1);
  z-index: 10;
}

.react-tel-input .country-list {
  background-color: #ffffff !important;
}

.react-tel-input .country-list .country:hover {
  background-color: #f1f1f1 !important;
}

.react-tel-input .flag {
  transform: scale(1.2);
}

.react-tel-input .selected-flag:hover,
.react-tel-input .selected-flag:focus,
.react-tel-input .selected-flag.open {
  background-color: transparent !important;
}

.react-tel-input .country-list .country {
  padding: 12px 10px !important;
}
.flag-button-with-divider::after {
  content: "";
  position: absolute;
  left: 45px;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.237);
}

.singleBlog-bg {
  min-height: 450px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 700px) {
  .singleBlog-bg {
    min-height: 350px;
    background-size: cover;
  }
}
